- NIM   : 10122005
- Nama  : Zulfi Fadilah Azhar
- Kelas : IF 1

In [94]:
import pandas as pd

In [95]:
# Parameter LCG
a = 16421
c = 12237
m = 2147483647
z0 = 10122005

In [96]:
# Fungsi LCG
def lcg(z, a, c, m):
    return (a * z + c) % m

def inverse_cdf(U):
    return (6*U) ** (1/4)

In [97]:
zi = z0
rows = []

# Menghasilkan 300 data acak
for i in range(1, 301):
    zi_next = lcg(zi, a, c, m)
    ui = zi_next / m
    xi = round(inverse_cdf(ui), 5)
    rows.append([i, zi, zi_next, round(ui, 5), xi])
    zi = zi_next

In [98]:
# Membuat DataFrame
df = pd.DataFrame(rows, columns=['i', 'Zi-1', 'Zi', 'Ui', 'Xi'])

# Menampilkan tabel
display(df)

       i        Zi-1          Zi       Ui       Xi
0      1    10122005   857215523  0.39917  1.24402
1      2   857215523  1728292982  0.80480  1.48238
2      3  1728292982  1302674554  0.60661  1.38122
3      4  1302674554   134255704  0.06252  0.78260
4      5   134255704  1294705799  0.60289  1.37911
..   ...         ...         ...      ...      ...
295  296  1370717944   783266454  0.36474  1.21628
296  297   783266454   738891488  0.34407  1.19867
297  298   738891488    54531135  0.02539  0.62476
298  299    54531135  2102582920  0.97909  1.55684
299  300  2102582920  1419548738  0.66103  1.41121

[300 rows x 5 columns]

In [104]:
ui_duplikat = df[df.duplicated(['Ui'], keep=False)].sort_values(by='Ui')
print("Data Ui yang duplikat")
display(ui_duplikat)

Data Ui yang duplikat

Empty DataFrame
Columns: [i, Zi-1, Zi, Ui, Xi]
Index: []

In [106]:
xi_duplikat = df[df.duplicated(['Xi'], keep=False)].sort_values(by='Xi')
print("Data Xi yang duplikat")
display(xi_duplikat)

Data Xi yang duplikat

Empty DataFrame
Columns: [i, Zi-1, Zi, Ui, Xi]
Index: []